.main {
  margin-right: auto;
  margin-left: auto;
  height: 80px;
  width: 80%;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  color: red;
}

.logo:hover {
  background-color: blue;
  color: white;
}

.main-list {
  display: flex;
  margin-left: auto;
}

.Link-Etkinlikler {
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
}

.Link-Anasayfa {
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
}
.Link-Etkinlikler:hover {
  background-color: yellow;
  color: gray;
}
.Link-Anasayfa:hover {
  background-color: yellow;
  color: gray;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 487px;
}
.home-h1 {
  height: 50px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 20px;
  color: rgb(82, 207, 29);
}

.swiper {
  width: 60%;
  height: 437px;
}

img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}
.events-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 487px;
}
.events {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 487px;
}

.categorylist {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
  text-align: center;
  margin-right: 20px;
}
.categorylist-h1 {
  width: 200px;
  margin-bottom: 15px;
  font-size: 20px;
  color: blue;
}
.categorylist-items {
  width: 150px;
  height: 30px;
  cursor: pointer;
}

.categoryname {
  overflow: auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 487px;
}
.categoryname-conteiner {
  width: 100%;
  height: 100%;
}
.categories {
  display: flex;
  width: 99%;
  height: 101px;
  border: 1px solid black;
}
.categories-img {
  width: 200px;
  height: 100px;
}
.categories-name {
  margin: 10px;
  font-size: 25px;
}
.categories-title {
  margin: 10px;
}

.eventdetail {
  display: flex;
  width: 95%;
  height: 487px;
}

.eventdetail-slider {
  width: 40%;
  height: 487px;
}
.eventdetail-comment-name {
  font-size: 25px;
  margin: 15px;
}
.eventdetail-comment-comment {
  font-size: 20px;
  margin: 15px 15px 15px 15px;
}
.eventdetail-comment-city {
  font-size: 25px;
  margin: 30px 15px 15px 15px;
}
.eventdetail-comment-address {
  font-size: 25px;
  margin: 15px;
}
.eventdetail-comment-date {
  font-size: 25px;
  margin: 15px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: black;
}

.footer-h3 {
  width: 90%;
  color: white;
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;
}
.footer-isim {
  color: yellow;
}

@media only screen and (max-width: 800px) {
  .Link-Anasayfa {
    display: none;
  }
  .home-h1 {
    display: flex;
    height: 66px;
  }
  .footer {
    height: 140px;
  }
  .eventdetail {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 1100px;
  }
  .eventdetail-slider {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .categorylist {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100px;
    width: 99%;
  }
  .categorylist-items {
    display: flex;
    width: 202px;
    height: 200px;
    flex-direction: column;
  }
  .categorylist-item {
    margin-right: 10px;
  }
  .categorylist-item:hover {
    color: gray;
  }
  .categorylistcity {
    display: flex;
    width: 400px;
    text-align: center;
    margin: 3px;
  }
  .categorylistcity-items {
    margin-right: 10px;
  }
  .categorylistcity-items:hover {
    color: gray;
  }
  .events {
    display: flex;
    flex-direction: column;
  }

  .categoryname {
    display: flex;
    width: 95%;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .categories {
    display: flex;
    width: 99%;
    height: 150px;
  }
  .categories-img {
    display: flex;
    height: 100%;
    width: 95px;
  }
  .categories-name {
    font-size: 20px;
    width: auto;
  }
  .categorylist-h1 {
    display: none;
  }
}
